@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  color: rgb(220, 219, 219);
  overflow-x: hidden;
  cursor: default;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #00ff5160;
  transition: 3s ease background;
}

::-webkit-scrollbar-thumb:hover {
  background: #00ff1a;
}